parameters:
    mongodb_server: "mongodb://%env(MONGODB_HOST)%:%env(MONGODB_PORT)%"
    mongodb_database: '%env(MONGODB_DATABASE)%'
    client_origin: '%env(CLIENT_ORIGIN)%'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: Kh2bT#8djOA72BlM2$%*NJ3oaGgLUz
